<h1>Films</h1>

<div class="table-responsive">
  <table class="js--datatable display responsive no-wrap table table-striped table-bordered">
    <thead>
      <tr>
        <th>Episode</th>
        <th>Title</th>
        <th>Director</th>
        <th>Producer</th>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td><%= film.episode_id %></td>
          <td><%= film.title %></td>
          <td><%= film.director %></td>
          <td><%= film.producer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
